
        /* General body styling */
        body {
            font-family: Arial, sans-serif;
            margin: 40px; /* Add space around the body */
            padding: 20px; /* Add inner space to the body */
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 10%; /* Adjusts space from the top */
        }

        a {
            text-decoration: none;
            color: #007BFF;
        }

        a:hover {
            text-decoration: underline;
        }
        /* Center pagination */
        .pagination-container {
            display: flex;
            justify-content: right; /* Centers the pagination */
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            margin-left: 10px; /* Space on the left of the table */
            margin-right: 10px; /* Space on the right of the table */
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        .wrapper {
            margin-top: 5vh;
        }

        .dataTables_filter {
            float: right;
        }

        .table-hover > tbody > tr:hover {
            background-color: #ccffff;
        }

        @media only screen and (min-width: 768px) {
            .table {
                table-layout: fixed;
                max-width: 100% !important;
            }
        }

        thead {
            background: #ddd;
        }

        .table td:nth-child(2) {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .highlight {
            background: #ffff99;
        }

        @media only screen and (max-width: 767px) {
            table, thead, tbody, th, td, tr {
                display: block;
            }

            thead tr, tfoot tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            td {
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50% !important;
            }

            td:before {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }

            .table td:nth-child(1) {
                background: #ccc;
                height: 100%;
                top: 0;
                left: 0;
                font-weight: bold;
            }

            .dataTables_length {
                display: none;
            }
        }

        /* Flexbox for Search and Add New button */
        .controls {
            display: flex;
            justify-content: space-between; /* Space between elements */
            align-items: center;
            margin-bottom: 20px;
        }

        .controls .btn {
            margin-right: 10px; /* Space between buttons */
        }

        .controls form {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
